body {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px 0 15px 0;
}

#canvas {
	height: 100%;
	border: 2px solid black;
	z-index:0;
}

#canvas2 {
	position: absolute;
	height: 90%;
	z-index:1;
	left:0px;
	top:0px;
}