body {
	position: absolute;
	width: 100%;
	height: 100%;
}

.btn-container {
	position: absolute;
	top:50%;
	left:50%;
	width:300px;
	height:200px;
	margin:-100px 0 0 -150px;
}

.btn-xlarge {
	padding: 38px 48px;
	font-size: 30px;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}